<% if @search_result.none? %>
  <p>Não encontrado</p>
<% end %>

<% @search_clients.each do |client| %>
  <%= link_to "#{client.name} - #{client.cpf}", client %>
  <p><%= client.name %></p>
  <p><%= client.cpf %></p>
<% end %>

<% @search_rentals.each do |rental| %>
  <%= link_to "Locação #{rental.rental_code}", rental %>
  <p><%= rental.start_date %></p>
  <p><%= rental.end_date %></p>
  <p><%= rental.client.name %></p>
  <p><%= rental.car_category.name %></p>
  <p><%= rental.rental_code %></p>
<% end %>
