<%= form_with(model: @client, local: true) do|form| %>
  <% if @client.errors.any? %>
    <ul>
      <% @client.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form.label :name, 'Nome' %>
  <%= form.text_field :name %>
  <%= form.label :cpf, 'CPF' %>
  <%= form.text_field :cpf %>
  <%= form.label :email, 'Email' %>
  <%= form.email_field :email %>
  <%= form.submit 'Enviar' %>
<% end %>
