<section class='car_categories_links'>
  <%= link_to 'Voltar', car_categories_path, class: 'link-btn'%>
</section>

<section class='car_categories'>
<%= form_with(model: @car_category, local: true, html: {class: 'car_categories_form'}) do |form| %>
  <p>
    <%= form.label :name, 'Nome' %>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :daily_rate, 'Diária' %>
    <%= form.number_field :daily_rate, min: 0 %>
  </p>

  <p>
    <%= form.label :car_insurance, 'Seguro do carro' %>
    <%= form.number_field :car_insurance, min: 0 %>
  </p>

  <p>
    <%= form.label :third_party_insurance, 'Seguro para terceiros' %>
    <%= form.text_field :third_party_insurance, min: 0 %>
  </p>

  <p>
    <%= form.submit 'Enviar', class: 'link-btn' %>
  </p>
<% end %>
</section>